body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigationBar {
  height: 70px;
  display: flex;
  /* padding: 20px 36px; */
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
  min-width: 60vw;
  justify-content: space-between;
}

.navBarInterface {
  height: 70px;
  display: flex;
  /* padding: 20px 36px; */
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
  justify-content: space-between;
  align-items: center;
  
 
}

.navContainer {
  position: fixed;
  width: 100%;
  top: 0;
}

.navHomeBtn {
  text-decoration: none;
  background-color: white;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;

}

.navLinkContainer {
  display: flex;
  /* This fixes the navbar items to not overlap on shrink */
  flex-shrink: 0;
}
.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;

}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks :hover {
  color: #0088a9;
}

.navProfileBtn {
  padding: 9px 25px;
  background-color: rgba(0,136,169,0.8);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-right: 30px;
}

.navProfileBtn:hover {
  background-color: rgba(0,136,169,1);

}


.navBarInterface > li, a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.loginButton {
  border: none;
  background-color: white;
  cursor: pointer;
  color: #53cbfb;
  font-size: 20px;
  margin-left: auto;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}


/* CSS */
.loginButton2 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 50px;
  margin-right: 40px;
  margin-top: 0.5rem;
}

.loginButton2:hover,
.loginButton2:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.loginButton2:hover {
  transform: translateY(-1px);
}

.loginButton2:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



.websiteName {
 margin-top: auto;
 margin-bottom: auto;
 margin-left: 30px;
}

.websiteNameLogin {
  margin: auto;
}

.accountType {
  display: flex;
  justify-content: space-evenly
}

.accountImageIcon {
  height: 300px;
 
}

.form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}

.signUpStudentPage {
  /* height: 100vh;
  background-image: url(/public/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.studentRegistrationTitle {
  color: black;
  font-size: 40px;
  margin-top: 0;
}

.signUpTitle {
  color: white;
}

.homeImage {
  height: 60vh;
  margin-top: 20vh;
}

.homeBody {
  display: flex;
}

.homeSideText {
  margin-top: 20vh;
  margin-right: 100px;
}

.loginButtonHome {
  /* background-color: #53cbfb;
  border-radius: 40px;
  font-size: 30px;
  padding: 15px; */
  height: 30px;
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
  background-color: #53cbfb;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 10px;
  margin-right: 40px;
}

/*test btn 1*/


/* CSS */
.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 90%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 30px;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}


/* CSS */

/*test btn 2*/
.button-54 {
  background-color: rgba(246, 98, 28,1);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: whitesmoke;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 90%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:focus {
  outline: 0;
}

.button-54:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-54:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

/* test btn*/

.homeBtnFlex {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.homeHeader {
  font-size: 50px;
}

.homeText {
  font-size: 20px;
  margin-bottom: 40px;
}

.ButtonTest {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.registrationMainContainer {
  display: flex;
}

.registrationImage {
  width: 50vw;
  height: 92.41vh;
}

.registrationImageTutor {
  width: 50vw;
  height: 92.41vh;
}

.registrationImageLogin {
  width: 50vw;
  height: 100%;
  object-fit: contain;
}
.registrationFormSection {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.formInput {
  background-color: #d5edff;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  border: #73cfff 2px solid;
  border-radius: 5px;
}

.studentLabel {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}

.tutorLabel {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 30px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /* width: 100%; */
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.loginBody {
  display: flex;
  height: 80vh;
}

.loginWelcomeText {
  margin-top: 8.2vh;
  font-size: 30px;
  margin-bottom: 0;
}

.loginForm {
  width: 100vw;
  margin-top: 8vh;
}

/* ---------------TUTOR INTERFACE DESIGN-----------------------*/
.problemListTutorHead {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.tutorInterfaceBody {
  /* background-color: #f6f7f8; */
}

/*   COPIED TESTING PROBLEM TABLE LIST */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table 
  li {
    border-radius: 3px;
    /* padding: 25px 30px; original padding*/
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 40px;
  }
  .table-header {
    /* background-color: #95A5A6; */
    background-color:  #1CB0F6;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: white;
    font-weight: bold;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 10%;
  }
  .col-2 {
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 40%;
  }
  .col-3 {
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 25%;
  }
  .col-4 {
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 25%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;}
      .col :before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  
/*RADIO BUTTON STYLE FOR CREATE PROBLEM PAGE*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600'); 

/* VARS */
/* $open-sans: 'Open Sans', 'Helvetica', sans-serif;

$darkNavy: #213140;
$teal1: #66B3FB;
$teal2: #4B9DEA;
$charcoal: #555555;
$gold: #B6985A;

$activeShadow: 0 0 10px rgba($teal1, .5); */

/* MIXINS */
@mixin focusOutline {outline: dotted 1px #CCC; outline-offset: .45rem;}
@mixin hideInput {width: 0; height: 0; position: absolute; left: -9999px;}
@mixin breakpoint($point) {
	@if $point == 1100 {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == 800 {
		@media (max-width: 800px) { @content ; }
	}
}

/* STYLE THE HTML ELEMENTS (INCLUDES RESETS FOR THE DEFAULT FIELDSET AND LEGEND STYLES) */
/* body, html {
	margin: 0; padding: 1rem; box-sizing: border-box;
	width: 100%; height: 100%;
	font-size: 16px; font-family: 'Open Sans', 'Helvetica', sans-serif; 
	-webkit-font-smoothing: antialiased;
	background-color: #EEE;
} */
fieldset {
	margin: 0; padding: 2rem; 
	box-sizing: border-box; display: block;
	border: none; border: solid 1px #CCC;
	min-width: 0;
	background-color: #FFF;}

	fieldset legend {
		margin: 0 0 1.5rem;
    padding: 0;
		width: 100%;
    float: left;
    display: table;
		font-size: 1.5rem; 
    line-height: 140%; 
    font-weight: 600; 
    color: #333;	}
		legend + * {clear: both;}
	

body:not(:-moz-handler-blocked) fieldset {display: table-cell;}

/* TOGGLE STYLING */
.toggle {
	margin: 0 0 1.5rem; box-sizing: border-box;
	font-size: 0;
	display: flex; flex-flow: row nowrap;
	justify-content: center; 
  align-items: stretch;

}
  .toggle > input {width: 0; height: 0; position: absolute; left: -9999px;}
	.toggle > input +label{
		margin: 0; padding: .75rem 2rem; box-sizing: border-box;
		position: relative; display: inline-block;
		border: solid 1px #DDD; background-color: #FFF;
		font-size: 1rem; line-height: 140%; font-weight: 600; text-align: center;
		box-shadow: 0 0 0 rgba(255,255,255,0);
		transition: 	border-color .15s ease-out, 
					color .25s ease-out, 
					background-color .15s ease-out,
					box-shadow .15s ease-out;
		
		/* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
		/*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
		/* ----- */
  }
		.toggle input + label :first-of-type{ border-radius: 6px 0 0 6px; border-right: none;}
		.toggle :last-of-type {border-radius: 0 6px 6px 0; border-left: none;}
	
	.toggle > input:hover +label{border-color: #213140;}
	.toggle > input:checked +label{
		background-color: #4B9DEA;
		color: #FFF;
		box-shadow: 0 0 10px rgba(#66B3FB, .5);
		border-color: #4B9DEA;
		z-index: 1;
	}
	

	


/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
.status {
	margin: 0;
	font-size: 1rem; font-weight: 400;}

	.status span {
		font-weight: 600; 
    color: gold;}
		.status :first-of-type {display: inline;}
		.status :last-of-type {display: none;}
	
	@include breakpoint(800) {
		span {
			&:first-of-type {display: none;}
			&:last-of-type {display: inline;}			
		}
	}

  /* PROBLEM CREATION PAGE*/

  .problemSubjectSelect {
    font-size: 20px;
  }

  .problemTitleInput {
    font-size: 20px;
    text-align: center;
  }

  .problemTxtArea {
    font-size: 19px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 30vh;
  }

  .fileAttach {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  .passwordTip {
    cursor: pointer;
    position: relative;
  }

  .passwordTipText {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #66B3FB;
    color: #fff;
    white-space: nowrap;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 5px;
  }
  

  .passwordTipText::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #000 #0000 #0000 #0000;

  }

  .passwordTip:hover .passwordTipText {
    top: -130%;
    visibility: visible;
    opacity: 1;
  }

  .memberDrop ul{
    list-style: none;
    background: green;

  }

  .memberDrop ul li {
    display: inline-block;
    position: relative;
   
    padding: 0;
  }

  .memberDrop ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 19px;
    
  }

  ul li ul.dropDown li {
    display: block;
  }

  ul li ul.dropDown {
    width: 10rem;
    background: #0088a9;
    position: absolute;
    z-index: 999;
    display: none;
    cursor: pointer;
    padding: 0;
  }

  /* .memberDrop ul li a:hover {
    background: #1CB0F6;
  }

  .memberDrop ul li:hover ul.dropDown {
    display: block;
  } */

  .memberDrop ul li a:hover {
    background: orange;
  }

    li:hover ul.dropDown {
    display: block;
  }

  .messageBtn {
    padding: 9px 25px;
    /* padding: 5px 25px; */
    /* background-color: rgba(255, 140, 66,0.8); */
    background-color: rgba(246, 98, 28,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 15px;
    font-weight: bold;

  }
  
  .messageBtn:hover {
    /* background-color: rgba(255, 140, 66,1); */
    background-color: rgba(246, 98, 28,1);
  
  }

  .reportBtn {
    padding: 9px 25px;
    /* padding: 5px 25px; */
    background-color: rgba(255, 50, 50,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 15px;
    font-weight: bold;

  }
  
  .reportBtn:hover {
    background-color: rgba(255, 50, 50,1);
  
  }

  .loginError {
    color: red;
    font-size: 17px;
  }

  .profileBackground {
    background-color: #1899D6;
    height: 899px;
    width: 100%;
    display: flex;
  }

  .profileBody {
    background-color: white;
    width: 85%;
    height:85%;
    justify-content: space-evenly;
    align-self: center;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    
  }

  .viewProfilePic {
    height: 350px;
    margin-top: 80px;
  }

  .profileDataView {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .editProfileBtn {
    padding: 9px 25px;
    background-color: rgba(246, 98, 28,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10rem;
  }
  
  .editProfileBtn:hover {
    background-color: rgba(246, 98, 28,1);
  
  }

  .reportBtnProfile {
    padding: 9px 25px;
    background-color: rgba(255, 50, 50,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 31.25rem;
  }
  
  .reportBtnProfile:hover {
    background-color: rgba(255, 50, 50,1);
  }

  .saveProfileBtn {
    padding: 9px 25px;
    background-color: rgba(18, 190, 28,0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 3rem;
  }
  
  .saveProfileBtn:hover {
    background-color: rgba(18, 190, 28,1);
  
  }

  .solveFooter {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
  }

  .solveAnswerBody {
    margin-top: 15vh;
  }

  /*-------------------------------------ADMIN REPORT VIEWING-----------------------------*/



  .viewReportBody {
    margin-bottom: 20px;
    /* border: 2px solid black; */
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 30rem;
    margin-left: 30rem;
    /* border-radius: 25px; */
    /* background-color: #FFc300; */
    background-color: #4bb39a;
    flex-direction: row;
  }

  .reportTitle {
    font-size: 3rem;
    font-weight: 400;
    text-align: start;
    margin-left: 6rem;
    font-family: 'Oswald', sans-serif; 
  }

  .reportedUserTitle {
    font-size: 2rem;
    font-weight: 400;
    text-align: start;
    margin-left: 3rem;
    font-family: 'Oswald', sans-serif; 
  }

  .reportBody {
    font-size: 1.2rem;
    text-align: start;
    margin-left: 6rem;
    font-family: 'Open Sans',sans-serif;
    font-style: italic;
  }

  
  .reportedBody {
    font-size: 1.2rem;
    text-align: start;
    margin-left: 2rem;
    font-family: 'Open Sans',sans-serif;
    font-style: italic;
    color: white;
  }

  .messageSenderBtn {
    border-style: none;
    background-color: white;
    padding: 10px 10px;
    width: 20%;
    margin-left: 6rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    flex-shrink: 0;
    font-size: 1rem;
  }

  .messageSenderBtn:hover {
    cursor: pointer;
    background-color: #d5d8e0;
  }

  .reportData{
    /* background-color: yellow; */
    width: 80%;
    text-align: start;
    margin-top: 2rem;
    
  }

  .reportedUserData {
    color: white;
    text-align: start;
    padding-top: 2rem;
    background-color: #36846b;
    width: 20%;
  }

  /*-----------------------------------STUDENT SOLVE SECTION---------------------------------*/

  .solveHeader {

  }

  .solveFooter {
    display: flex;
    padding-bottom: 3rem;
  }

  .solveProblemBody {
    font-size: 20px;
    font-size: 1.7rem;
    font-weight: 300;
  }

  .problemTextStyle {
    font-family: 'Oswald', sans-serif; 
  }

  .textarea2 {
    resize: none !important;
    overflow: auto !important;
    outline: none;
    box-shadow: none !important;
    border-color: #ced4da !important;
  }
    .textarea2 {
      font-size: 1.1rem;
      
      width: 95%;
      height: 40em;
      line-height: 31px;
      background-image: -webkit-linear-gradient(left, white 0, transparent 0), -webkit-linear-gradient(right, white 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
      background-repeat: repeat-y;
      background-size: 100% 100%, 100% 100%, 100% 31px;
      background-attachment: local;
    }

    .textarea2:hover {
      resize: none !important;
      overflow: auto !important;
      outline: none;
      box-shadow: none !important;
      border-color: #ced4da !important;
    }
  

  /* Style 7
   ----------------------------- */
.seven h1 {
  text-align: center;
      font-size:36px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid  #553c9a;
      border-top: 1px solid  #553c9a;
      height: 5px;
    background-color:#f8f8f8;
  }


  @import url(//fonts.googleapis.com/css?family=Lato:300:400);


  .problemViewHeader {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
  }
  .problemCreator {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
  }

  .headerProblem {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }
  .logoProblem {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }

  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }

  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }

  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }

  /* Animation */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

  /* BUTTONS OF SOLVE PROBLEM*/
  
  /* SUBMIT ANSWER BUTTON*/
  .button-11 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-11:after {
    content: "";
    background-color: rgba(0,172,193,1);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .button-11:hover:after {
    top: 0px;
    left: 0px;
  }

   
  @media (min-width: 768px) {
    .button-11 {
      padding: 13px 50px 13px;
    }
  }

   /* SAVE ANSWER DRAFT BUTTON*/

  .button-12 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-12:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .button-12:hover:after {
    top: 0px;
    left: 0px;
  }


  @media (min-width: 768px) {
    .button-12 {
      padding: 13px 50px 13px;
    }
  }
  
   /* EXIT BUTTON*/
  .button-13 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-13:after {
    content: "";
    background-color:  rgba(255, 50, 50,1);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .button-13:hover:after {
    top: 0px;
    left: 0px;
  }

  @media (min-width: 768px) {
    .button-13 {
      padding: 13px 50px 13px;
    }
  }

  /* ------------CREATING REPORT--------------------*/

  .createReportBody {
    background-color: #f5c000;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 5px;
  }

  .createReportTitle {
    border: none;
    font-size: 1.7rem;
    margin-left: 0px;
    /* margin-right: 100px; */
    text-align: start;
    margin-bottom: 1.8rem;
    font-family: 'Oswald', sans-serif;
    margin-right: 2rem;
  }

  .createReportContent {
    border: none;
    font-size: 1.7rem;
    text-align: start;
    margin-left: 11rem;
    margin-right: 11rem;
    font-family: 'Oswald', sans-serif;
    height: 12vh;
  }

  .createReportHeader {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Oswald', sans-serif; 
  }

  /*STUDENT REVIEW FEEDBACK PAGE*/

  .feedbackContainer {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;

  }

  .feedbackCommentsContainer {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ededed;
    width: 80%;
    outline: black solid 2px;
  }

  .theLine {
    background-color: black;
    height: 2px;
  }
  .feedbackTotalGrade {
    background-color: #ff7420;
    width: 20%;
    min-width: 140px;
    outline: black solid 2px;
    display: flex;
    flex-direction: column;
    background-image: url(/public/starGif.gif);
  }

  .feedbackLine {
    display: flex;
    /* margin-left: 3rem; */
    padding-left: 3rem;
    color: black;
    justify-content:space-between;
  }
  
  .feedbackLineHead {
    display: flex;
    /* margin-left: 3rem; */
    padding-left: 3rem;
    background-color: #800020;
    color: white;
    justify-content:space-between;
    background-image: url(/public/star2Gif.gif);

  }
  .feedbackTitle{
    font-size: 1.3rem;
  }

  .feedbackComment {
    font-size: 1.3rem;
    padding-right: 10px;
    padding-left: 10px;
    font-style: italic;
  }

  .feedbackGrade {
    font-size: 1.6rem;
    background-color: white;
    border-radius: 50%;
    padding: 10px 10px;
    margin-right: 2.5rem;
    color: black;
    outline: 2px black solid;
  }

  .totalGrade {
    background-color: white;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif; 
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
    outline: 2px black solid;
  }

  .scoreText {
    background-color: white;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif; 
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
    outline: 2px black solid;
  }

  .totalGradeText {
    font-size: 2rem;
    background-color: black;
    color: white;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif; 

  }

  .feedbackTitleHead {
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
  }

  .feedbackCommentHead {
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
  }

  .feedbackGradeHead {
    font-size: 1.6rem;
    margin-right: 1.4em;
    font-family: 'Oswald', sans-serif;
  }

  /* body{
    background-color: #000;
} */

.backgroundTest{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
  animation: zoom 16s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
  /*TUTOR GIVE FEEDBACK PAGE*/

  .feedbackSection {
    /* background-color:  rgba(0,172,193,1); */
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* outline: 2px rgba(0,172,193,1) solid; */
  }

  .commentLabel {
    font-size: 22px;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .feedbackTitleTutor {
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  .feedbackTitleTutor:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 3px #ffe54c;
  }

  .feedbackTitleTutor:hover {
    left: 0; top: 0;  background-color: #ededed; transition: 0.3s; z-index: -1;
  }

  .feedbackCommentTutor {
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    font-style: italic;
    width: 50%;
  }

  .feedbackCommentTutor:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 3px rgba(0,172,193,1);
  }

  .feedbackCommentTutor:hover {
    left: 0; top: 0;  background-color: #ededed; transition: 0.3s; z-index: -1;
  }

  .feedbackGradeTutor {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 10px;
  }

  .feedbackGradeTutor:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 3px rgba(255, 50, 50,1);
  }

  .feedbackGradeTutor:hover {
    left: 0; top: 0;  background-color: #ededed; transition: 0.3s; z-index: -1;
  }

  .feedbackTotalGradeTutor {
    font-size: 1.3rem;
    text-align: center;

  }

  .feedbackTotalGradeTutor:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 3px rgba(0,172,193,1);
  }

  .feedbackTotalGradeLabel {
    font-size: 1.3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-left: 10px;
  }

  /* INPUT TEST AREA */

  /* TEST AREA FOR NAVBAR ------------------------------------------------------------------------ */

  